<!doctype html>

<html>
<head>
	<title>Schnip Main Screen Wireframe</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/a5.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="css/a5screen2.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>

<body>

	<div class="appbox">

		
		<!-- TOP nav bar-->	
		

			<div class="row1" style="background-color:#6FC8CF" >
                   <!-- drop down menu-->	
				<div class="dropdown" style="background-color:#6FC8CF">
					<img style="width:auto; height:45px" src ="images/menu.png">
					<div class="dropdown-content">
						

						<a href="addcard">Add Loyalty Card</a>

						<a href="/">Sign Out</a>
					</div>
					<br width= "100">
				</div>

			     <!-- logo-->	
				<div class="col-xs-8">

					<img style="width:auto; height:45px" src="images/schnip.png">
				</div>
			</div>
		

            <div class="row1"></div>


        <!-- shopping at Ralphs? -->
        <div class="container1">
        	<div class="row1">
        		<br>
        	</div>
        
			<div class="row1">
			
				<div class="col-xs-12">
					<h1 style="font-family:Proxima Nova;">Please click on a store below</h1>
				</div>
				
			</div>
			<div class="row1">
        		<br>
        	</div>
		
		</div>

		<div class="row1"></div>


        <!-- list of stores -->
		<div class="row1">
			<div class="col-xs-6">
				<div class="thumbnail">
					<a href="ralph">
						<img style="height: 40px;" src="images/ralphs.svg">
					</a>
				</div>
				<div class="thumbnail">
					<a href="99ranch">
						<img style="height: 40px;" src="images/99ranch.png">
					</a>
				</div>

				<div class="thumbnail">
					<a href="walmart">
						<img src="images/walmart.png">
					</a>
				</div>

				<div class="thumbnail">
					<a href="Sprouts">
						<img style="height: 40px;" src="images/sprouts.png">
					</a>
				</div>
				<div class="thumbnail">
					<a href="vons">
						<img style="height: 40px;" src="images/vons.png">
					</a>
				</div>
				<div class="thumbnail">
					<a href="Costco">
						<img style="height: 40px;" src="images/costco.png">
					</a>
				</div>
				<div class="thumbnail">
					<a href="cvs">
						<img style="height: 40px;" src="images/cvs.png">
					</a>
				</div>

			</div>
			<div class="col-xs-6">
				<div class="thumbnail">
					<a href="traderjoes">
						<img style="height: 40px;" src="images/trader.png">
					</a>
				</div>
				<div class="thumbnail">
					<a href="zionmarket">
						<img style="height: 40px;" src="images/zion.jpg">
					</a>
				</div>
				<div class="thumbnail">
					<a href="albertsons">
						<img style="height: 40px;" src="images/albertsons.png">
					</a>
				</div>
				<div class="thumbnail">
					<a href="food4less">
						<img style="height: 40px;" src="images/food4less.svg">
					</a>
				</div>
				<div class="thumbnail">
					<a href="pavillions">
						<img style="height: 40px;" src="images/pavilions.png">
					</a>
				</div>
				<div class="thumbnail">
					<a href="wholefoods">
						<img style="height: 40px;" src="images/wholefoods.svg">
					</a>
				</div>
				<div class="thumbnail">
					<a href="northgate">
						<img style="height: 40px;" src="images/northgate.jpg">
					</a>
				</div>
			</div>
		</div>


				<br>
        <!-- bottom nav bar -->
			<div class="row2" style="background-color:#6FC8CF" >
                 <div class="col-xs-1">
					<a href="main"> 
						<img style="height: 45px;" src="images/back.png">
					</a>
				</div>
				<div class="col-xs-8"></div>
				<div class="col-xs-2">
					<a href="checkout">
					 <img style="height: 45px;" src="images/cart.png">
					</a>
				</div>
			</div>






           
				<!-- Location detection -->
            </div>
		</body>

		</html>　